@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
html,
body {
  font-family: "Cairo";
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: #667e9b;
  height: 100%;
  width: 100%;
  background: white;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

@media (max-width: 991px) {
  .container {
    max-width: 100%;
  }
}

.login-section {
  padding: 20px 20px 10px;
}
.login-section .home {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}
.login-section span {
  color: #000000;
  font-size: 14px;
}
.login-section .login-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 100px 40px;
}
@media (max-width: 767px) {
  .login-section .login-form {
    padding: 10px 5px 10px;
  }
}
.login-section .login-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-section .login-form .form-group {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.login-section .login-form input {
  max-width: 70%;
  margin-bottom: 30px;
  box-sizing: border-box;
  padding: 12px 10px;
  background: #ecefff;
  border: 1px solid #c0c6ff;
  border-radius: 10px;
  text-align: right;
}
@media (max-width: 767px) {
  .login-section .login-form input {
    max-width: 100%;
  }
}
.login-section .login-form .fa-eye,
.login-section .login-form .fa-eye-slash {
  position: absolute;
  top: 34%;
  right: 79%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #4621d5;
  height: 20px;
}
@media (max-width: 767px) {
  .login-section .login-form .fa-eye,
  .login-section .login-form .fa-eye-slash {
    right: 89%;
  }
}
.login-section .login-form .fa-eye-slash {
  color: #8e8585;
}
.login-section .login-form input::-moz-placeholder {
  font-weight: 300;
  font-size: 18px;
  color: rgba(56, 56, 56, 0.7);
}
.login-section .login-form input::placeholder {
  font-weight: 300;
  font-size: 18px;
  color: rgba(56, 56, 56, 0.7);
}
.login-section .login-form .separator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 30px 0;
}
.login-section .login-form .separator .line {
  flex-grow: 1;
  height: 1px;
  background-color: #c0c0c0;
}
.login-section .login-form .separator span {
  margin: 0 15px;
  color: #383838;
  font-size: 16px;
}
.login-section .login-form .log-btn {
  width: 70%;
  border: none;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 15px;
  padding: 16px 0px;
  background: #4621d5;
  border-radius: 10px;
}
@media (max-width: 767px) {
  .login-section .login-form .log-btn {
    width: 100%;
  }
}
.login-section .login-form .forgetpass {
  font-weight: 500;
  font-size: 15px;
  color: #4621d5;
}
.login-section .login-form .newacount {
  color: rgb(117, 117, 117);
  text-decoration: underline;
}
.login-section .login-form .newacount a {
  color: #4621d5;
}
.login-section .login-form h3 {
  font-weight: 700;
  font-size: 28px;
  color: #383838;
}
.login-section .login-form .gmail-logo {
  margin-bottom: 30px;
}
.login-section .image-col {
  max-height: 95vh;
  overflow: hidden;
}
.login-section .image-col img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=login.css.map */