@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
html,
body {
  font-family: "Cairo";
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: #667e9b;
  height: 100%;
  width: 100%;
  background: white;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

@media (max-width: 991px) {
  .container {
    max-width: 100%;
  }
}

.nav-item {
  font-size: 16px;
}

.navbar-nav .nav-link {
  margin-top: 15px;
  margin-left: 5px;
  color: #4621d5 !important;
}

.navbar-nav {
  margin-left: 32px;
  gap: 60px;
}
@media (max-width: 767px) {
  .navbar-nav {
    gap: 20px;
  }
}

.btn-header {
  padding: 8px 10px;
  background-color: #4621d5;
  border-radius: 148px;
  text-decoration: none;
  color: white;
}
@media (max-width: 767px) {
  .btn-header {
    display: none;
  }
}

.footer {
  background-color: #4621d5;
  color: #e1e1e1;
  gap: 20px;
}
.footer .footer-logo {
  max-width: 100px;
}
.footer .footer-link {
  color: #e1e1e1;
  margin-left: 24px;
  text-decoration: none;
  font-size: 16px;
}
.footer .footer-divider {
  border-color: #e1e1e1;
}
.footer .copy {
  color: #e1e1e1;
  font-size: 14px;
}
@media (max-width: 767px) {
  .footer .socils {
    margin-top: 20px;
    justify-content: center !important;
  }
}
.footer .icon img {
  width: 36px;
  height: 36px;
}

.send-section {
  margin-top: 40px;
  padding: 10px 100px 10px;
}
@media (max-width: 767px) {
  .send-section {
    padding: 10px;
  }
}
.send-section .section-head {
  padding: 0px 288px 0px;
  margin-bottom: 20px;
  gap: 30px;
  text-align: center;
}
@media (max-width: 767px) {
  .send-section .section-head {
    padding: 0px;
  }
}
.send-section .section-head h1 {
  font-size: 40px;
  font-weight: 800;
  color: #4621d5;
  margin-top: 20px;
  margin-bottom: 20px;
}
.send-section .section-head p {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #666;
}
.send-section .section-head .invetaions-card {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33%;
  height: 100%;
  border: 2px solid #000000;
  border-radius: 27px;
  padding: 5px 0px 5px;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .send-section .section-head .invetaions-card {
    width: 50%;
  }
}
.send-section .section-head .invetaions-card span {
  font-size: 40px;
  font-weight: 700;
}
.send-section .section-head .invetaions-card p {
  font-size: 18px;
  font-weight: 400;
}
.send-section .content-section {
  padding: 0px 350px 0px;
}
@media (max-width: 767px) {
  .send-section .content-section {
    padding: 0px;
  }
}
.send-section .content-section h4 {
  margin-top: 50px;
  font-size: 22px;
  font-weight: 700;
}
.send-section .content-section form {
  padding-top: 20px;
}
.send-section .content-section form input {
  border: 1px solid rgba(0, 0, 0, 0.1215686275);
  background: #f2f3f5;
  border-radius: 10px;
  padding: 10px;
}
.send-section .content-section form input input::-moz-placeholder {
  color: #666;
  text-align: right;
}
.send-section .content-section form input input::placeholder {
  color: #666;
  text-align: right;
}
.send-section .content-section form select {
  border: 1px solid rgba(0, 0, 0, 0.1215686275);
  background: #f2f3f5;
  border-radius: 10px;
  padding: 10px;
}
.send-section .content-section form .static-placeholder {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #6c757d;
}
.send-section .content-section form .pos-rel {
  position: relative;
}
.send-section .content-section form .btn-submit {
  padding: 16px 32px;
  background: #4621d5;
  border-radius: 10px;
  transition: background-color 0.3s;
  color: #fff;
  margin: 0px;
  border: none;
}
.send-section .content-section form .btn-submit:hover {
  border: 1px solid #4621d5;
  box-shadow: 0px 0px 18px rgba(0, 90, 90, 0.5);
  transform: scale(1.05);
  color: white;
}
.send-section .content-section .separator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 30px 0 0px;
}
.send-section .content-section .separator .line {
  flex-grow: 1;
  height: 1px;
  background-color: #c0c0c0;
}
.send-section .content-section .separator span {
  margin: 0 15px;
  color: #383838;
  font-size: 16px;
}
.send-section .content-section .btn-excel {
  padding: 16px 32px;
  background: #4621d5;
  border-radius: 10px;
  transition: background-color 0.3s;
  color: #fff;
  margin: 0px;
  border: none;
}
.send-section .content-section .btn-excel:hover {
  border: 1px solid #4621d5;
  box-shadow: 0px 0px 18px rgba(0, 90, 90, 0.5);
  transform: scale(1.05);
  color: white;
}
.send-section .content-section .dropzone {
  margin-top: 40px;
  border: 2px dashed rgba(56, 56, 56, 0.4);
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  cursor: pointer;
  position: relative;
  padding: 64px;
}
.send-section .content-section .dropzone .file-input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.send-section .content-section .dropzone p {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}/*# sourceMappingURL=sendInvetation.css.map */